<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Document</title>
</head>

<body>
    <form action="">
        <input type="text" placeholder="Enter Pokemon name" id="userInp">
        <input type="submit" id="subt">
    </form>
    <p id="displayPoke"></p>

    <h3>Some Pokemon names:- </h3>
    <ul>
        <li>Squirtle</li>
        <li>Charmander</li>
        <li>Bulbasaur</li>
        <li>Caterpie</li>
        <li>Charmeleon</li>
        <li>Charizard</li>
        <li>Ivysaur</li>
        <li>Venusaur</li>
        <li>Metapod</li>
        <li>Butterfree</li>
        <li>Wartortle</li>
        <li>Lapras</li>
        <li>Psyduck</li>
        <li>Voltorb</li>
        <li>Magikarp</li>
        <li>Moltres</li>
        <li>Krabby</li>
        <li>Sandshrew</li>
        <li>Meowth</li>
        <li>Venonat</li>
        <li>Doduo</li>
        <li>Slowpoke</li>
        <li>Ditto</li>
        <li>Rhyhorn</li>
        <li>Tauros</li>
        <li>Paras</li>
        <li>Scyther</li>
        <li>Goldeen</li>
        <li>Diglett</li>
        <li>Growlithe</li>
        <li>Oddish</li>
        <li>Shellder</li>
        <li>Mankey</li>
        <li>Magnemite</li>
        <li>Vulpix</li>
        <li>Geodude</li>
        <li>Drowzee</li>
        <li>Exeggcute</li>
        <li>Dratini</li>
        <li>Weedle</li>
        <li>Ekans</li>
        <li>Grimer</li>
        <li>Mewtwo</li>
        <li>Mew</li>
        <li>Zapdos</li>
        <li>Pidgey</li>
        <li>Rattata</li>
        <li>Spearow</li>
        <li>Pikachu</li>
        <li>Eevee</li>
        <li>Kangaskhan</li>
    </ul>
    <script src="javascript/main.js"></script>
</body>

</html>